<nav class="nav-base nav-svg nav-padding-top">
  <div>
    <button
      class="nav-button nav-button-icon nav-button-icon__home"
      (click)="routerNav('/home')"
    >
      Home
    </button>
  </div>
  <div>
    <button
      class="nav-button nav-button-icon nav-button-icon__login"
      (click)="routerNav('/auth')"
    >
      Login
    </button>
  </div>
  <div>
    <button
      class="nav-button nav-button-icon nav-button-icon__admin"
      (click)="routerNav('')"
    >
      Admin
    </button>
  </div>
  @if (user$ | async) {
  <div>
    <button
      class="nav-button nav-button-icon nav-button-icon__user-page"
      (click)="routerNav('/user-landing')"
    >
      User Page
    </button>
  </div>
  }
</nav>
