<div>
  <h1 class="main-headings">Authorisation</h1>
  <p class="u-margin-bottom-small">
    Login and gain access to the rest of the site.
  </p>
  @switch (this.authService.currentAuthMode()) { @case (authModeEnum.login) {
  <h2 class="u-margin-bottom-tiny">Login</h2>
  <button class="base-button u-margin-bottom-tiny" (click)="onSwitchMode()">
    Switch to Register
  </button>
  <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
    <ul class="plain-list">
      <li>
        <input
          class="base-form-field"
          type="text"
          placeholder="Email"
          formControlName="email"
        />
      </li>
      <li>
        <input
          class="base-form-field"
          type="password"
          placeholder="Password"
          formControlName="password"
        />
      </li>
      <li>
        <button
          class="base-button u-margin-bottom-tiny"
          type="submit"
          [disabled]="formLogin.invalid"
        >
          Sign In
        </button>
      </li>
    </ul>
  </form>
  } @case (authModeEnum.register) {
  <h2 class="u-margin-bottom-tiny">Register</h2>
  <button class="base-button u-margin-bottom-tiny" (click)="onSwitchMode()">
    Switch to Login
  </button>
  <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
    <ul class="plain-list">
      <li>
        <input
          class="base-form-field"
          type="text"
          placeholder="First Name"
          formControlName="firstName"
        />
      </li>
      <li>
        <input
          class="base-form-field"
          type="text"
          placeholder="Last Name"
          formControlName="lastName"
        />
      </li>
      <li>
        <input
          class="base-form-field"
          type="text"
          placeholder="Email"
          formControlName="email"
        />
      </li>
      <li>
        <input
          class="base-form-field"
          type="password"
          placeholder="Password"
          formControlName="password"
        />
      </li>
      <li>
        <input
          class="base-form-field"
          type="password"
          placeholder="Validate Password"
          formControlName="validatePassword"
        />
      </li>
      <li>
        <button
          class="base-button u-margin-bottom-tiny"
          type="submit"
          [disabled]="formRegister.invalid"
        >
          Register
        </button>
      </li>
    </ul>
  </form>
  } @case (authModeEnum.logout) {
  <h2 class="u-margin-bottom-tiny">Logged In</h2>
  <button class="base-button u-margin-bottom-tiny" (click)="logout()">
    Logout
  </button>
  } @case (authModeEnum.logoutLoading) {
  <h2 class="u-margin-bottom-tiny">Logging Out</h2>
  } @case (authModeEnum.loginLoading) {
  <h2 class="u-margin-bottom-tiny">Logging In</h2>
  } @case (authModeEnum.registerLoading) {
  <h2 class="u-margin-bottom-tiny">Registering</h2>
  } @case (authModeEnum.error) {
  <h2 class="u-margin-bottom-tiny">Error</h2>
  } }
</div>
@if(user$ | async) {
<span>user: {{ userName$ | async }}</span>
}
